body{height:100vh;
    display:grid;
    grid-template-rows: auto 1fr auto auto auto 3fr auto;
    
}

glogo {
    display: grid;
    place-items: center;
}
header {
    display:grid;
    grid-template-columns: repeat(2,auto) 1fr repeat(4,auto);
}
footer {
    display:flex;
    justify-content:space-between;

}
sbuttons{
    display:grid;
    place-items: center;
}
sbox{
    display:flex;
    justify-content: center;

}
#searchbox{border-radius: 25px;
border-width: 2px;
height:40px;
width:500px;
}